$bg--light: #F5F4F3;
$text--dark: #E8E4E0;
$box--shadow--gray: #C7C5C4;
$brand--blue--light: #4376A3;
$error--text: #e60000;

$app--header--text: 25px;
$widget--summary--label: 50px;
$widget--summary--value: 25px;

$text--font: ui-monospace;
